body {
    background-color: #708090
}

.bg-1 {
    color: #ffffff;
    font-size: 20px;
}


.container-fluid {
    padding-top: 13%;
    padding-bottom: 13%;
}

.container-fluid1 {
    padding-top: 27%;
    padding-bottom: 26%;
}

.navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.btn{

}
