body {
    background-color: #708090
}

.bg-1 {
    color: #ffffff;
    font-size: 20px;
}


.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
