@model IEnumerable<finalEvent.Models.Event>

@{
    ViewBag.Title = "MyEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid bg-1 text-center">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Mina skapade event</h2>
        </div>
    </div>
</div>
<table class="table">
    <tr>

        <th>
            Evenemang:
        </th>
        <th>
            Datum:
        </th>


        @foreach (var item in Model)
        {
                <tr>


                    <td style="color:white">
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td style="color: white">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>


                        @Html.ActionLink("Ta bort event", "Delete", null, new { id = item.EventId, style = "color: black" })  |

                        @Html.ActionLink("Till eventet", "ShowEvent", "Event", new { id = item.EventId, style = "color: black" }, null)
                    </td>
                </tr>
        }

    </table>
