@model finalEvent.Models.User
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Välkommen @Model.Firstname till Eventplanerare.se </h1>
<p>- Vi erbjuder en förstklassig tjänst när du vill skräddarsy just ditt egna evenemang</p>
