@{
    ViewBag.Title = "Sent";
}
<div class="container-fluid bg-1 text-center">
    <div class="row">
        <div class="col-md-12">
            <h2>Medelande skickat!</h2>
            </div>
        </div>
    </div>
