@model finalEvent.Models.User
@using finalEvent.Controllers;
@using finalEvent.Models;



@{
    ViewBag.Title = "SearchProfile";
}

<h2>Sökresultat</h2>
<p>@Model.Picture</p>
<p>@Model.Firstname</p>
<p>@Model.Lastname</p>

