@model finalEvent.Models.User
@using finalEvent.Controllers;
@using finalEvent.Models;



@{
    ViewBag.Title = "SearchProfile";
}

<h2>Sökresultat</h2>
<br />
<br />
<br />

<br />
<p>@Model.Firstname</p>
<p>@Model.Lastname</p>

@{
    finalEvent.Models.User db = new finalEvent.Models.User();
}
@using (Html.BeginForm())
{
   
            
                
                    <img src="~/images/@Model.Picture" width="100" height="100" />
                  
                
      