@model finalEvent.Models.User
@using finalEvent.Controllers;
@using finalEvent.Models;

@{
    ViewBag.Title = "MyPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Välkommen till din profilsida @Model.Firstname</h2>
<p> Här kan du ändra dina uppgifter och administrera dina kontakter och event.</p>

