@model finalEvent.Models.User
@{
    ViewBag.Title = "MyPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Välkommen till din profilsida @Model.Firstname</h2>
<p> Här kan du ändra dina uppgifter och administrera dina kontakter och event.</p>
<br />
<div><img src="~/images/profile/@Model.Picture" width="150" height="150" />   </div>


@using (Html.BeginForm("EditPicture", "MyPage", FormMethod.Post,
                                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Ladda upp bild:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}


